body {
    font-family: Arial, sans-serif;
    background-color: #333;
    color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    overflow: hidden;
}

.container {
    background-color: #222;
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 1200px;
    display: flex;
}

.header h1 {
    text-align: center;
    margin: 0 0 20px;
    width: 100%;
}

.history-section {
    width: 20%;
    margin-right: 20px;
    overflow-y: auto;
    max-height: 90vh;
}

.history-section h2 {
    margin-bottom: 10px;
    text-align: center;
}

.full-history {
    background-color: #444;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
}

.full-history div {
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 5px;
}

.main-section {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-section {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    width: 100%;
}

.input-section label {
    margin-right: 10px;
}

#history-input {
    width: 300px;
    padding: 5px;
}

#add-history,
#clear-last,
#clear-all {
    padding: 5px 10px;
    background-color: #444;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-left: 5px;
    transition: background-color 0.3s;
}

#add-history:hover,
#clear-last:hover,
#clear-all:hover {
    background-color: #555;
}

.statistics {
    margin-top: 20px;
    width: 100%;
}

.recent-numbers {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.recent-numbers div {
    background-color: #555;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    width: 30px;
    text-align: center;
}

.percentages {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    width: 100%;
}

.column {
    flex: 1;
    padding: 10px;
    background-color: #444;
    margin-right: 10px;
    border-radius: 5px;
    text-align: center;
    transition: background-color 0.3s;
}

.column:last-child {
    margin-right: 0;
}

.number-grid {
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
}

.number-grid h2 {
    margin-bottom: 10px;
}

.numbers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.number-button {
    background-color: #444;
    color: #fff;
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    width: 40px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s;
}

.number-button:hover {
    background-color: #555;
}
